@{
    ViewBag.Title = "Contact CVGS";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Conestoga Video Game Store<br />
    Kitchener, ON<br />
    <abbr title="Phone">P:</abbr>
    555.555.5555
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@CVGS.com">Support@CVGS.com</a><br />
    <strong>General:</strong> <a href="mailto:Contact@CVGS.com">Contact@CVGS.com</a>
</address>